<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    
    <!-- Exact alarm permission for precise notifications (Android 12+) -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARMS" />
    
</manifest>